pip install pillow
pip install django-bootstrap4
pip install django-bootstrap-icons
 pip install html2pdf
 pip install django-crispy-forms

 To use website:
 http://127.0.0.1:8000/btamplate/


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'your_dbname',
        'USER': 'your_username',
        'PASSWORD': 'your_PASSWORD',
        'HOST': '127.0.0.1',
        'PORT': '3306',
    }
}