<html>
<head>
    <title>{% block title %}@Solutions{% endblock %}</title>
</head>

<body>
    <div id="content" name="content">
	{% block content %}
    <h1>Project Name:</h1>
    <h1>Business Case Proposal Date:</h1>
    <table id="t1" name="t1">
        <tr>
          <th>WHO?<br>Stakeholder Identification and Engagement
            Project Responsibility</th>
        </tr>
        <tr>
          <td>Sponsor(s)</td>
          <td>UJ</td>
        </tr>
        <tr>
          <td>Manager(s)</td>
          <td>Pretty</td>
        </tr>
        <tr>
            <td>Internal Stakeholder(s)</td>
            <td>SMEs</td>
        </tr>
        <tr>
            <td>External Stakeholder(s)</td>
            <td>Ramaphosa</td>
        </tr>
      </table>
      
      <table id="t2" name="t2">
        <tr>
          <th>WHY?<br>Demonstrate the Project Relevance</th>
        </tr>
        <tr>
          <td>Need for the Project</td>
          <td>..</td>
        </tr>
        <tr>
          <td>Alignment with Business Priorities</td>
          <td>..</td>
        </tr>
      </table>
      
      <table id="t3" name="t3">
        <tr>
          <th>HOW?<br>The Solution</th>
        </tr>
        <tr>
          <td>Proposed Solution or Methodology</td>
          <td>..</td>
        </tr>
        </table>

        <table id="t4" name="t4">
            <tr>
              <th>WHAT?<br>Relevant Business Area to be impacted and Project Risks
              </th>
            </tr>
            <tr>
              <td>Impacted Business Function or Area</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Indicative Risk Level of the Project</td>
              <td>..</td>
            </tr>
          </table>

          <table id="t5" name="t5">
            <tr>
              <th>WHEN?<br>Project Timeframe</th>
            </tr>
            <tr>
              <td>Proposed Start Date</td>
              <td>..</td>
            </tr>
            <tr>
              <td>Overall Project Timeframe</td>
              <td>...</td>
            </tr>
            <tr>
                <td>Estimated completion Date</td>
                <td>...</td>
            </tr>
          </table>

          <table id="t6" name="t6">
            <tr>
              <th>WHERE?<br>Project Location</th>
            </tr>
            <tr>
              <td>Location of Project Implementation</td>
              <td>..</td>
            </tr>
            </table>


            <table id="t7" name="t7">
                <tr>
                  <th>HOW MUCH?<br>Project costs, Benefits and Risks of doing nothing
                  </th>
                </tr>
                <tr>
                  <td>Approximate costs of the Project</td>
                  <td>..</td>
                </tr>
                <tr>
                  <td>Estimate Benefits(Financial or Non-Financial)</td>
                  <td>...</td>
                </tr>
                <tr>
                    <td>Impact/Risks of doing nothing(Financial or Non-Financial)
                        </td>
                    <td>...</td>
                </tr>
              </table>
	{% endblock %}
    </div>

</body>
</html>