{% extends 'btamplate/base.html'%}

{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% block title %} Create New Template {% endblock %}

{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <h4  style="text-align:center"><strong>Business Case Template</strong></h4>
    <div class="row justify-content-center align-items-center pt-3">
    <div class="form-group col-md-6 mb-0">
    {{ form.Project_name|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
    {{ form.Business_case_proposal_date|as_crispy_field }}
    </div>
    <hr class="mt-0 mb-4">
    <div class="form-group col-md-6 mb-0">
    {{ form.sponsor|as_crispy_field }}
        </div>
           <div class="form-group col-md-6 mb-0">
        {{ form.manager|as_crispy_field }}
            </div>
    <div class="form-group col-md-6 mb-0">
            {{ form.internal_stakeholder|as_crispy_field }}
            </div>
    <div class="form-group col-md-6 mb-0">
                {{ form.external_stakeholder|as_crispy_field }}
                </div>
    <div class="form-group col-md-12 mb-0">
        <hr class="mt-0 mb-4">
        {{ form.Need_for_the_project|as_crispy_field }}
        </div>
    <div class="form-group col-md-12 mb-0">
        {{ form.Alignment_with_Business_Priorities|as_crispy_field }}
            </div>
    <div class="form-group col-md-12 mb-0">
        {{ form.Proposed_Solution_or_Methodology|as_crispy_field }}
         </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.Indicative_Risk_Level_of_the_Project|as_crispy_field }}
         </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.Proposed_Start_Date|as_crispy_field }}
             </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.Proposed_Start_Date|as_crispy_field }}
        </div>
    <div class="form-group col-md-6 mb-0">
         {{ form.Overall_Project_Timeframe|as_crispy_field }}
        </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.Estimated_completion_Date|as_crispy_field }}
           </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.Location_of_Project_Implementation|as_crispy_field }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <hr class="mt-0 mb-4">
         {{ form.Approximate_costs_of_the_Project|as_crispy_field }}
    </div>
    <div class="form-group col-md-12 mb-0">
        {{ form.estimate|as_crispy_field }}
    </div>
    <div class="form-group col-md-12 mb-0">
        {{ form.impact|as_crispy_field }}
        <button class="btn btn-outline-success" type="submit"> {% bs_icon 'check' color='black' size='1.5em'  %}  Complete </button>
    </div>
    </div>
{% endblock %}
