
  .Template{
    margin: auto;
    width: 50%;
    border: 1px solid #42a5f5;
    padding: 10px;
  }

.btn-btn-outline-success{
    background-color: #42a5f5;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    margin: auto;
    padding: 10px;
}
.btn {
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    margin: auto;
    padding: 10px;
  }
a {
    color: black;
    font-size: large;
}
/* Updade page */
  table {
	margin-bottom: 20px;
	width: 100%;
  }
  table:last-child {
	margin-bottom: 0;
  }
  th,
  td {
	padding-bottom: 6px;
	vertical-align: top;
  }
  th {
	padding-right: 45px;
	text-align: right;
	width: 20%;
  }
  td {
	width: 40%;
  }
  thead {
	line-height: 44px;
  }
  thead th {
	color: #648880;
	font-size: 24px;
  }
  tbody th {
	color: #a9b2b9;
	font-size: 14px;
	font-weight: 400;
	padding-top: 22px;
	text-transform: uppercase;
  }
  tbody td {
	border-top: 1px solid #dfe2e5;
	padding-top: 21px;
  }
  tbody td:first-of-type {
	padding-right: 15px;
  }
  tbody td:last-of-type {
	padding-left: 15px;
  }
  tbody td:only-of-type {
	padding-left: 0;
	padding-right: 0;
  }
  table a {
	color: #888;
  }
  table h4 {
	margin-bottom: 0;
  }
  .schedule-offset {
	color: #000;
  }
  section{
	margin: 20px;
  }
