/* base page */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none !important;
	list-style: none !important;
	outline: none !important;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	background-color: #E3F2FD;
	color: #0000;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	height: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none !important;
}
a:hover {
	color: lightgray !important;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
span, a {
	display: inline-block;
	color: inherit;
}
h1, h2, h3, h4, h5, h6 {
	color: #151515;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	margin: 0;
}
p {
	color: #000;
	line-height: 1.6;
	font-weight: 400;
	margin: 0;
}
h4 {
	font-size: 26px;
}
h4 {
	font-weight: 400;
}

.banner {
	color:#ffffff;
	text-align: center;
	width: 100%;
}
.banner-overlay {
	background:linear-gradient(to bottom, rgba(47, 121, 171, 0) 0%, #ffff 100%);
	padding:220px 0px 170px;
}
.banner h1 {
	color:#0000;
}
.banner p {
	margin:15px auto 15px;
	max-width: 670px
}
.banner-btn {
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
}
.banner-btn:hover {
	background: #ffffff;
}
.section-padding {
	padding: 100px 0px;
}
.section-title {
	padding-bottom: 80px;
}
.section-title h3 {
	color: #000;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 22px;
}
.section-title p {
	width: 60%;
	margin: 15px auto 20px;
}
.section-title-line {
	background: #ececec;
	content: "";
	height: 1px;
	position: absolute;
	left: calc(50% - 87px);
	width: 175px;
}
.section-title-line:after {
	background: #42a5f5;
	bottom: -1px;
	content: "";
	height: 2px;
	left: calc(50% - 22px);
	position: absolute;
	width: 45px;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-100 {
	margin-bottom: 100px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-100 {
	margin-bottom: 100px !important;
}
.pd-lt-10 {
	padding-left:10px;
}
.no-padding {
	padding: 0px !important;
}
.sub-title-paragraph h4 {
	margin-bottom: 5px;
}
.sub-title-paragraph h5 {
	color:#000;
}
.sub-title-paragraph p {
	padding-top: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}
.bg-grey {
	background-color: #fafafa;
}
.bg-white {
	background: #ffffff;
}
.service-box {
	padding: 50px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}
.service-box .icon i {
	font-size: 40px;
	/* color: #8eecf5; */
}

.bttn {
	position: relative;
	cursor: pointer;
	color: #0000;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #8eecf5;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	border: none;
}
/* .navbar {
    margin-bottom: 100px;
    padding: 30px;
    width: 100%;
    border-bottom: 2px solid  #42a5f5;
    overflow: auto;
  } */
  .Template{
    margin: auto;
    width: 50%;
    border: 1px solid #42a5f5;
    padding: 10px;
  }
  .login{
    margin: auto;
    width: 50%;
    border: 1px solid #42a5f5;
    padding: 10px;
  }
  .footer {
    overflow: auto;
    width: 100%;
    margin-top: 300px;
    border-bottom: 2px solid  #42a5f5;
    color: white;
    text-align: center;
  }
.btn-btn-outline-success{
    /* background-color: bisque; */
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    margin: auto;
    padding: 10px;
}
.btn {
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    margin: auto;
    padding: 10px;
  }
a {
    color: black;
    font-size: large;
}
.footer-copy {
	border-top: 2px dotted #84ACCE;
	color: #000;
	font-size: 13px;
	text-align: center;
	padding:7px 0px;
}
/* Updade page */
  table {
	margin-bottom: 20px;
	width: 100%;
  }
  table:last-child {
	margin-bottom: 0;
  }
  th,
  td {
	padding-bottom: 6px;
	vertical-align: top;
  }
  th {
	padding-right: 45px;
	text-align: right;
	width: 20%;
  }
  td {
	width: 40%;
  }
  thead {
	line-height: 44px;
  }
  thead th {
	color: #648880;
	font-size: 24px;
  }
  tbody th {
	color: #a9b2b9;
	font-size: 14px;
	font-weight: 400;
	padding-top: 22px;
	text-transform: uppercase;
  }
  tbody td {
	border-top: 1px solid #dfe2e5;
	padding-top: 21px;
  }
  tbody td:first-of-type {
	padding-right: 15px;
  }
  tbody td:last-of-type {
	padding-left: 15px;
  }
  tbody td:only-of-type {
	padding-left: 0;
	padding-right: 0;
  }
  table a {
	color: #888;
  }
  table h4 {
	margin-bottom: 0;
  }
  .schedule-offset {
	color: #000;
  }
  section{
	margin: 20px;
  }
  /* .footer-copy {
	  border-top: 2px dotted #84ACCE;
	  color: #000;
	  font-size: 13px;
	  text-align: center;
	  padding:7px 0px;
  } */